In [1]:
import pandas as pd

In [11]:
sin_codificar=pd.read_csv('dataset_sin_codificar.csv')

In [13]:
sin_codificar

  Nombre  Genero Satisfaccion
0    Ana  female         baja
1   Luis    male        media
2  Marta  female         alta
3  Pedro    male        media
4  Lucía  female         baja
5   Juan    male         alta
6  Sofía  female        media
7  Diego    male         baja
8  Carla  female         alta
9  Tomás    male        media

In [12]:
df_sin_codificar=pd.DataFrame(sin_codificar)

In [5]:
df_sin_codificar["Genero_cod"] = df_sin_codificar["Genero"].map({"female": 0, "male": 1})

In [12]:
import pandas as pd

# 1️⃣ Crear dataset de ejemplo
data = {
    "Producto": ["Manzana", "Banana", "Naranja", "Banana", "Manzana", "Pera"],
    "Color": ["Rojo", "Amarillo", "Naranja", "Amarillo", "Rojo", "Verde"],
    "Pais": ["Argentina", "Brasil", "Chile", "Brasil", "Argentina", "Uruguay"]
}

df = pd.DataFrame(data)


print(df)

# 2️⃣ Aplicar One-Hot Encoding con pandas
df_encoded = pd.get_dummies(df, columns=["Producto", "Color", "Pais"],dtype =int)

  Producto     Color       Pais
0  Manzana      Rojo  Argentina
1   Banana  Amarillo     Brasil
2  Naranja   Naranja      Chile
3   Banana  Amarillo     Brasil
4  Manzana      Rojo  Argentina
5     Pera     Verde    Uruguay

In [13]:
df_encoded

,Producto_Banana,Producto_Manzana,Producto_Naranja,Producto_Pera,Color_Amarillo,Color_Naranja,Color_Rojo,Color_Verde,Pais_Argentina,Pais_Brasil,Pais_Chile,Pais_Uruguay
0,0,1,0,0,0,0,1,0,1,0,0,0
1,1,0,0,0,1,0,0,0,0,1,0,0
2,0,0,1,0,0,1,0,0,0,0,1,0
3,1,0,0,0,1,0,0,0,0,1,0,0
4,0,1,0,0,0,0,1,0,1,0,0,0
5,0,0,0,1,0,0,0,1,0,0,0,1

In [14]:
import pandas as pd

# 1️⃣ Crear dataset de ejemplo
data = {
    "Nombre": ["Ana", "Luis", "Marta", "Pedro", "Lucía", "Juan", "Sofía", "Diego", "Carla", "Tomás"],
    "Edad": [15, 22, 37, 45, 62, 30, 18, 54, 70, 41],
    "Salario": [0, 250000, 380000, 420000, 300000, 400000, 150000, 500000, 320000, 450000]
}

df = pd.DataFrame(data)

df
# 2️⃣ Discretizar (binning) la variable Edad en categorías
bins = [0, 17, 59, 120]  # rangos de edad
labels = ["Menor", "Adulto", "Mayor"]

df["Grupo_Edad"] = pd.cut(df["Edad"], bins=bins, labels=labels)

Accuracy

Es el porcentaje de predicciones correctas sobre el total.

In [15]:
from sklearn.metrics import accuracy_score

# Valores reales y predichos
y_real = [1, 0, 1, 1, 0, 1]
y_pred = [1, 0, 1, 0, 0, 1]

# Calcular accuracy
accuracy = accuracy_score(y_real, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8333333333333334

In [ ]:
Accuracy: 0.8333  (≈ 83.3%)

Matriz de confusion

Muestra cuántos aciertos y errores hubo en cada clase.
Es clave para problemas de clasificación binaria o multiclase.

In [16]:
from sklearn.metrics import confusion_matrix
import pandas as pd

y_real = [1, 0, 1, 1, 0, 1]
y_pred = [1, 0, 1, 0, 0, 1]

matriz = confusion_matrix(y_real, y_pred)

df_matriz = pd.DataFrame(
    matriz,
    index=["Real: 0", "Real: 1"],
    columns=["Predicho: 0", "Predicho: 1"]
)

print(df_matriz)

         Predicho: 0  Predicho: 1
Real: 0            2            0
Real: 1            1            3

Error promedio

MAE Mean Absolute Error, es el promedio de las diferencias absolutas entre las predicciones y los valores reales.
MSE Mean Squared Error, es el promedio de las diferencias al cuadrado entre las predicciones y los valores reales.
RMSE Root Mean Squared Error, es la raíz cuadrada del MSE, da más peso a los errores grandes.

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Valores reales y predichos
y_real = [100, 200, 300, 400, 500]
y_pred = [110, 190, 290, 410, 480]

# Calcular métricas
mae = mean_absolute_error(y_real, y_pred)
mse = mean_squared_error(y_real, y_pred)
rmse = np.sqrt(mse)

print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)

MAE: 12.0
MSE: 160.0
RMSE: 12.649110640673518

In [ ]:
MAE: 8.0
MSE: 86.0
RMSE: 9.27